html{
  font-family: "Noto Serif", serif;
}

header{
  background-color: #70ad55;
}

.header-text{
  color: #fff;
}

.address {
  border-top: 1px solid #6e8c62;
}

.address-end {
  border-bottom: 1px solid #6e8c62;
}
